AMOS_VERSION=0.2.0
AMOS_IMAGE=amos:0.2.0-evaluation
AMOS_TOOLBOX_IMAGE=amos-toolbox:0.2.0-evaluation
AMOS_BIND_HOST=127.0.0.1
AMOS_PORT=8000
AMOS_CPU_LIMIT=2.0
AMOS_MEMORY_LIMIT=2g
AMOS_TOOLBOX_CPU_LIMIT=2.0
AMOS_TOOLBOX_MEMORY_LIMIT=4g
AMOS_TOOLBOX_JAVA_OPTIONS=-Xms128m -Xmx2048m
AMOS_LOG_LEVEL=amos=info,tower_http=info
